@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #ECF0F1;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #E8C547 #333333;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #333333;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4A90E2;
  border-radius: 10px;
  border: 2px solid #333333;
}

@layer components {
  .btn-gradient {
    @apply bg-gradient-to-r from-primary to-primary-dark hover:bg-gradient-to-br;
  }
}